body {
    font-family: 'Montserrat Variable', sans-serif;
  }
footer{
    background-image: url('/images/bg-footer.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner{
	background-image: url("/images/Fotos-01.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.bg-section{
    background-image: url('/images/Fotos-02.webp');
    background-repeat: no-repeat;
    background-size: cover;
}