---
import { Icon } from 'astro-icon/components'
---

<footer class="py-8">
    <div class="container mx-auto flex flex-col md:flex-row">
        <div class="flex-1 p-10">
            <div class="text-center">
                <h2 class="text-white text-lg text-balance">
                    Oficina<br /><span class="uppercase font-semibold"
                        >Arequipa</span
                    >
                </h2>
            </div>
            <div class="text-yellow-400 mt-5 md:px-10">
                <p class="">
                    GYG Alquiler de Automoviles Arequipa<br />(Atención 24 hrs.
                    en celulares)
                </p>
                <p class="">Calle Palacio Viejo 214 Arequipa - Perú</p>
                <p class="mt-5">+51 959639873 (Gonzalo)</p>
                <p class="">+51 959923511 (Alfredo)</p>
                <p class="">+51 959608721 (Reservas)</p>
                <p class="mt-5">reservas@gygrentacar.com</p>
                <p class="">arequipa@gygrentacar.com</p>
            </div>
            <!-- <div class="text-yellow-400 mt-5"> -->
                <!-- <p class="">(054) 212123 - 282519</p> -->
            <!-- </div> -->
            <!-- <div class="text-yellow-400 mt-5">
                <p class="font-semibold uppercase">Counter Aeropuerto</p>
            </div>
            <div class="text-yellow-400 mt-5">
                <p class="">+51 959923511 (Alfredo)</p>
                <p class="">+51 959667773 (Vidal)</p>
            </div> -->
            <!-- <div class="text-yellow-400 mt-5">
                <p class="font-semibold">Horario de Atención</p>
                <p class="">Lunes a Viernes: 8:00 - 18:30</p>
                <p class="">Sábado: 8:00 - 13:00</p>
            </div> -->
            <!-- <div class="text-yellow-400 mt-5">
            </div> -->
        </div>
        <div class="flex-1 p-10">
            <div class="text-center">
                <h2 class="text-yellow-400 text-lg">
                    Oficina<br /><span class="uppercase font-semibold"
                        >Cusco</span
                    >
                </h2>
            </div>
            <div class="text-white mt-5 md:px-10">
                <p class="">
                    GYG Alquiler de Automoviles Cusco<br />(Atención 24 hrs. en
                    celulares)
                </p>
                <p class="">Avenida Velasco Astete E-5 Cusco - Perú</p>
                <!-- <p class="">Telf. +51 (084) 248-800</p> -->
                <p class="mt-5">+51 908803431 (Gabriela)</p>
                <p class="">+51 984843835 (Jonathan)</p>
                <!-- <br />
                <p class="">+51 959608721 (Atención en Inglés)</p>
                <br /> -->
                <p class="mt-5">reservas@gygrentacar.com</p>
            </div>
        </div>
        <div class="flex-1 p-10">
            <div class="text-center">
                <h2 class="text-white text-lg">
                    Oficina<br /><span class="uppercase font-semibold"
                        >Lima</span
                    >
                </h2>
            </div>
            <div class="text-yellow-400 mt-5 md:px-10">
                <p class="">
                    GYG Alquiler de Automoviles Cusco<br />(Atención 24 hrs. en
                    celulares)
                </p>
                <p class="">Jirón Cantuarias 225 Miraflores Lima - Perú</p>
                <!-- <p class="">Telf. +51 (084) 248-800</p> -->
                <p class="mt-5">+51 984139681 (Yasmani)</p>
                <!-- <p class="">+51 984843835 (Jonathan)</p> -->
                <!-- <br />
                <p class="">+51 959608721 (Atención en Inglés)</p>
                <br /> -->
                <p class="mt-5">reservas@gygrentacar.com</p>
            </div>
        </div>
        <!-- <div class="flex-1 p-10">
            <div class="text-center">
                <h2 class="text-white text-lg">
                    Horarios de atención<br /><span
                        class="uppercase font-semibold"
                        >Arequipa y Cusco</span
                    >
                </h2>
            </div>
            <div class="text-yellow-400 mt-5">
                <p class="">GYG Alquiler de Automoviles Arequipa</p>
                <p class="">Lunes a viernes: 08:00 – 18:30</p>
                <p class="">Sábado: 08:00 – 13:00</p>
            </div>
            <div class="text-yellow-400 mt-5">
                <p class="">GYG Alquiler de Automoviles Cusco</p>
                <p class="">Lunes a viernes: 07:00 – 19:00</p>
                <p class="">Sábado: 08:00 – 16:00</p>
            </div>
            <div class="text-yellow-400 mt-5">
                <p class="">
                    Celulares atendemos 24 horas, los 7 días de la semana y los
                    365 días del año (24/7-365)
                </p>
                <p class="">
                    +51 959639873 (Gonzalo)<br />+51 959923511 (Alfredo)
                </p>
            </div>
            <div class="mt-5">
                <ul class="flex items-center gap-x-4">
                    <li>
                        <a
                            target="_blank"
                            href="https://www.facebook.com/gygarequipa/"
                        >
                            <Icon
                                name="facebook"
                                class="text-3xl text-yellow-400 hover:scale-110 hover:text-white transition-all duration-300"
                            />
                        </a>
                    </li>

                    <li>
                        <a
                            target="_blank"
                            href="https://instagram.com/gyg.alquilerdeautomoviles?igshid=ZDdkNTZiNTM="
                            ><Icon
                                name="instagram"
                                class="text-3xl text-yellow-400 hover:scale-110 hover:text-white transition-all duration-300"
                            /></a
                        >
                    </li>

                    <li>
                        <a href="#"
                            ><Icon
                                name="youtube"
                                class="text-3xl text-yellow-400 hover:scale-110 hover:text-white transition-all duration-300"
                            /></a
                        >
                    </li>
                </ul>
            </div>
        </div> -->
    </div>
    <div class="max-w-7xl mx-auto mt-5 flex justify-center md:justify-end">
        <ul class="flex items-center gap-x-4">
            <li>
                <a
                    target="_blank"
                    href="https://www.facebook.com/gygarequipa/"
                >
                    <Icon
                        name="facebook"
                        class="text-3xl text-yellow-400 hover:scale-110 hover:text-white transition-all duration-300"
                    />
                </a>
            </li>

            <li>
                <a
                    target="_blank"
                    href="https://instagram.com/gyg.alquilerdeautomoviles?igshid=ZDdkNTZiNTM="
                    ><Icon
                        name="instagram"
                        class="text-3xl text-yellow-400 hover:scale-110 hover:text-white transition-all duration-300"
                    /></a
                >
            </li>

            <li>
                <a href="#"
                    ><Icon
                        name="youtube"
                        class="text-3xl text-yellow-400 hover:scale-110 hover:text-white transition-all duration-300"
                    /></a
                >
            </li>
        </ul>
    </div>
</footer>
<div class="text-white text-center text-xs py-5">
    <p>
        © GyG Rent a Car - Todos los derechos reservados
    </p>
    <p>Desarrollado por - <a
        href="http://www.sietemedios.com" class="text-yellow-400"
        target="_blank">Siete Medios</a></p>
    <!-- <p>
        Averigua más de nosotros en <a
            href="http://www.sietemedios.com"
            target="_blank">www.sietemedios.com</a
        >
    </p> -->
    <!-- <p>three@sietemedios.com - seven@sietemedios.com</p> -->
</div>
