---
import { Icon } from "astro-icon";
---

<footer class="py-8">
    <div class="container mx-auto flex flex-col md:flex-row">
        <div class="flex-1 p-10">
            <div class="text-center">
                <h2 class="text-white text-lg">
                    Contactos<br /><span class="uppercase font-semibold"
                        >Arequipa</span
                    >
                </h2>
            </div>
            <div class="text-yellow-400 mt-5">
                <p class="">
                    GYG Alquiler de Automoviles Arequipa<br />(Atención 24 hrs.
                    en celulares)
                </p>
                <p class="">Palacio Viejo 214 - Arequipa</p>
            </div>
            <div class="text-yellow-400 mt-5">
                <p class="">(054) 212123 - 282519</p>
                <p class="">+51 959639873 (Gonzalo)</p>
                <p class="">+51 959923511 (Alfredo)</p>
                <p class="">+51 959608721 (Reina) (Atención en Inglés)</p>
            </div>
            <div class="text-yellow-400 mt-5">
                <p class="font-semibold uppercase">Counter Aeropuerto</p>
            </div>
            <div class="text-yellow-400 mt-5">
                <p class="">+51 959923511 (Alfredo)</p>
                <p class="">+51 959667773 (Vidal)</p>
            </div>
            <div class="text-yellow-400 mt-5">
                <p class="font-semibold">Horario de Atención</p>
                <p class="">Lunes a Viernes: 8:00 - 18:30</p>
                <p class="">Sábado: 8:00 - 13:00</p>
            </div>
            <div class="text-yellow-400 mt-5">
                <p class="">reservas@gygrentacar.com</p>
                <p class="">arequipa@gygrentacar.com</p>
            </div>
        </div>
        <div class="flex-1 p-10">
            <div class="text-center">
                <h2 class="text-yellow-400 text-lg">
                    Contactos en<br /><span class="uppercase font-semibold"
                        >Cusco</span
                    >
                </h2>
            </div>
            <div class="text-white mt-5">
                <p class="">
                    GYG Alquiler de Automoviles Cusco<br />(Atención 24 hrs. en
                    celulares)
                </p>
                <p class="">Av. Velasco Astete E-5 al costado del Aeropuerto</p>
                <!-- <p class="">Telf. +51 (084) 248-800</p> -->
                <p class="">+51 959639873 (Gonzalo)</p>
                <p class="">+51 959923511 (Alfredo)</p>
                <br />
                <p class="">+51 959608721 (Reina) (Atención en Inglés)</p>
                <br />
                <p class="">reservas@gygrentacar.com</p>
            </div>
        </div>
        <div class="flex-1 p-10">
            <div class="text-center">
                <h2 class="text-white text-lg">
                    Horarios de atención<br /><span
                        class="uppercase font-semibold"
                        >Arequipa y Cusco</span
                    >
                </h2>
            </div>
            <div class="text-yellow-400 mt-5">
                <p class="">GYG Alquiler de Automoviles Arequipa</p>
                <p class="">Lunes a viernes: 08:00 – 18:30</p>
                <p class="">Sábado: 08:00 – 13:00</p>
            </div>
            <div class="text-yellow-400 mt-5">
                <p class="">GYG Alquiler de Automoviles Cusco</p>
                <p class="">Lunes a viernes: 07:00 – 19:00</p>
                <p class="">Sábado: 08:00 – 16:00</p>
            </div>
            <div class="text-yellow-400 mt-5">
                <p class="">
                    Celulares atendemos 24 horas, los 7 días de la semana y los
                    365 días del año (24/7-365)
                </p>
                <p class="">
                    +51 959639873 (Gonzalo)<br />+51 959923511 (Alfredo)
                </p>
            </div>
            <div class="mt-5">
                <ul class="flex items-center gap-x-2 mr-2">
                    <li>
                        <a
                            target="_blank"
                            href="https://www.facebook.com/gygarequipa/"
                        >
                            <Icon
                                name="ion:social-facebook"
                                class="w-10 text-yellow-400"
                            />
                        </a>
                    </li>

                    <li>
                        <a
                            target="_blank"
                            href="https://www.instagram.com/gyg_servicios_turisticos/"
                            ><Icon
                                name="ion:logo-instagram"
                                class="w-10 text-yellow-400"
                            /></a
                        >
                    </li>

                    <li>
                        <a href="#"
                            ><Icon
                                name="ion:logo-youtube"
                                class="w-10 text-yellow-400"
                            /></a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="text-white text-center text-xs py-5">
    <p>
        © <!--?php echo date('Y'); ?--> G&amp;G Rent a Car - Todos los derechos reservados
    </p>
    <p>Hecha por - SieteMedios Arequipa - Perú</p>
    <p>
        Averigua más de nosotros en <a
            href="http://www.sietemedios.com"
            target="_blank">www.sietemedios.com</a
        >
    </p>
    <p>three@sietemedios.com - seven@sietemedios.com</p>
</div>
