<div id="formulario-container" style="text-align: center; color: white; max-width: 500px; margin: 0 auto; margin-bottom: 10px; padding-bottom: 10px;">
    <div style="border: 4px double gold; padding: 20px;">
        <h2 style="font-weight: bold; text-transform: uppercase;">Formulario de contacto</h2>
        <form method="post" style="text-align: left; line-height: 2;">
            <label for="nombres" style="font-weight: bold;">Nombres:</label>
            <input type="text" id="nombres" name="nombres" style="color: black; width: 100%; padding: 4px; font-size: 14px;"><br><br>
            <label for="apellidos" style="font-weight: bold;">Apellidos:</label>
            <input type="text" id="apellidos" name="apellidos" style="color: black; width: 100%; padding: 4px; font-size: 14px;"><br><br>
            <label for="direccion" style="font-weight: bold;">Dirección:</label>
            <input type="text" name="direccion" style="color: black; width: 100%; padding: 4px; font-size: 14px;"><br><br>
            <label for="mensaje" style="font-weight: bold;">Mensaje:</label><br>
            <textarea id="mensaje" name="mensaje" rows="4" cols="50" style="color: black; width: 100%; padding: 4px; font-size: 14px;"></textarea><br><br>
            <button type="submit" name="btnEnviarMensaje" class="bg-yellow-400 text-black font-bold py-4 px-12" style="border-color: #FFEB3B;">Enviar</button>
        </form>
    </div>
</div>