<script>
    window.addEventListener("load", function () {
        dateBlockPast();
        fetch("https://www.gygrentacar.com/emailconfirmation/tipocambio.php")
            .then((response) => response.json())
            .then((data) => {
                localStorage.setItem("dolar", data.compra);
            })
            .catch((error) => console.log(error));
    });
    document.getElementById("start-date").onchange = function () {
        calculateDifference();
    };
    document.getElementById("end-date").onchange = function () {
        calculateDifference();
    };
    document.getElementById("inpHoraD").onchange = function () {
        calculateDifference();
    };
    document.getElementById("inpHoraR").onchange = function () {
        calculateDifference();
    };
    document.getElementById("inpMinD").onchange = function () {
        calculateDifference();
    };
    document.getElementById("inpMinR").onchange = function () {
        calculateDifference();
    };
    document.getElementById("btn-confirm-booking").onclick = function () {
        var inputs = document.getElementsByClassName("input-home");
        if (validateInputs(inputs)) {
            saveLocalStorageFormHome();
        }
    };

    function dateBlockPast() {
        const fecha1 = document.getElementById("start-date");
        const fecha2 = document.getElementById("end-date");
        const hoy = new Date();

        fecha1.min = hoy.toISOString().split("T")[0];
        fecha1.addEventListener("change", function () {
            fecha2.min = fecha1.value;
        });
    }

    function validateInputs(inputs) {
        // Define la expresión regular para buscar comandos SQL
        var sqlRegex = /^(SELECT|UPDATE|INSERT)/i;
        // Recorre cada campo de entrada
        for (var i = 0; i < inputs.length; i++) {
            // Comprueba si el valor del campo de entrada coincide con la expresión regular
            if (
                sqlRegex.test(inputs[i].value) ||
                inputs[i].value.trim() === ""
            ) {
                // Si coincide, muestra un mensaje de error y detiene la ejecución de la función
                alert(
                    "Error: entrada no válida en el campo " +
                        inputs[i].name +
                        ". Es un valor inválido o vacío."
                );
                return false;
            }
        }
        return true;
    }

    function saveLocalStorageFormHome() {
        var form = document.getElementById("frm-booking-home");
        var formData = new FormData(form);

        var formObject = {};
        formData.forEach(function (value, key) {
            formObject[key] = value;
        });

        localStorage.setItem("formData", JSON.stringify(formObject));
        window.location.href = "/itinerario";
        // console.log(JSON.parse(localStorage.getItem("formData")))
    }

    function calculateDifference() {
        // Obtener los valores de los inputs HTML
        var startDate = document.getElementById("start-date").value;
        var endDate = document.getElementById("end-date").value;
        var startHour = document.getElementById("inpHoraR").value + ":" + document.getElementById("inpMinR").value + ":00";
        var endHour = document.getElementById("inpHoraD").value + ":" + document.getElementById("inpMinD").value + ":00";

        // Convertir los valores a objetos Date
        startDate = new Date(startDate+" "+startHour);
        endDate = new Date(endDate+" "+endHour);
        
        var diff = diffInDays(startDate, endDate);
        // Calcular la diferencia entre las fechas


        // Mostrar el resultado en una etiqueta HTML
        document.getElementById("inpCantidadD").value = diff;
    }

    function diffInDays(startDate, endDate) {
        // Obtener el número de milisegundos transcurridos entre las dos fechas
        var diff = endDate.getTime() - startDate.getTime();

        // Dividir el número de milisegundos por el número de milisegundos en un día
        // y redondear el resultado hacia abajo
        const diffDays = Math.ceil(diff / (1000 * 60 * 60 * 24));
        return diffDays
        // return Math.floor(diff / 86400000);
    }
</script>

<div class="rounded-lg bg-white w-4/12">
    <ul class="flex justify-around bg-yellow-400 rounded-t-lg">
        <li class="p-2 bg-white flex-1 text-center rounded-tl-lg">
            <button class="nav-link active" type="button">Reservar</button>
        </li>
        <li class="p-2 flex-1 text-center">
            <button class="nav-link" type="button">Ver</button>
        </li>
        <li class="p-2 flex-1 text-center">
            <button class="nav-link" type="button">Modificar</button>
        </li>
        <li class="p-2 flex-1 text-center">
            <button class="nav-link" type="button">Cancelar</button>
        </li>
    </ul>
    <div class="p-5">
        <form action="" method="post" id="frm-booking-home">
            <div class="flex items-center">
                <div class="border border-gray-300 p-2">
                    <img src="/images/salida.png" alt="go" class="w-5" />
                </div>
                <select
                    class="form-select rounded-sm w-full input-home"
                    name="inpCiudadR"
                    id=""
                >
                    <option value="">Elige la ciudad</option>
                    <option value="AREQUIPA">AREQUIPA</option>
                    <option value="AREQUIPA - AEROPUERTO"
                        >AREQUIPA - AEROPUERTO</option
                    >
                    <option value="CUSCO">CUSCO</option>
                    <option value="CUSCO - AEROPUERTO"
                        >CUSCO - AEROPUERTO</option
                    >
                </select>
            </div>
            <p class="font-semibold my-2">Fecha de Reserva y Hora</p>
            <div class="flex justify-around items-center">
                <input
                    type="date"
                    name="inpFechaR"
                    autocomplete="off"
                    class="form-input w-full input-home basis-1/2"
                    id="start-date"
                    required
                />
                <span class="px-1">-</span>
                <select
                    class="form-select w-full input-home basis-1/4"
                    name="inpHoraR"
                    id="inpHoraR"
                    required
                >
                    <option value="">Hrs.</option>
                    <option value="00">00</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                </select>
                <span class="px-1">-</span>
                <select
                    class="form-select w-full input-home basis-1/4"
                    name="inpMinR"
                    id="inpMinR"
                    required
                >
                    <option value="">Min.</option>
                    <option value="00">00</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="45">45</option>
                </select>
            </div>
            <p class="font-semibold my-2">Fecha de Devolución y Hora</p>
            <div class="flex items-center">
                <input
                    type="date"
                    name="inpFechaD"
                    autocomplete="off"
                    class="form-input w-full input-home basis-1/2"
                    id="end-date"
                    required
                />
                <span class="px-1">-</span>
                <select
                    class="form-select w-full input-home basis-1/4"
                    name="inpHoraD"
                    id="inpHoraD"
                    required
                >
                    <option value="">Hrs.</option>
                    <option value="00">00</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                </select>
                <span class="px-1">-</span>
                <select
                    class="form-select w-full input-home basis-1/4"
                    name="inpMinD"
                    id="inpMinD"
                    required
                >
                    <option value="">Min.</option>
                    <option value="00">00</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="45">45</option>
                </select>
            </div>
            <div class="flex items-center mt-3">
                <div class="border border-gray-300 p-2">
                    <img src="/images/regreso.png" alt="go" class="w-5" />
                </div>
                <select
                    class="form-select rounded-sm w-full input-home"
                    name="inpCiudadD"
                    id=""
                >
                    <option value="">Elige la ciudad</option>
                    <option value="AREQUIPA">AREQUIPA</option>
                    <option value="AREQUIPA - AEROPUERTO"
                        >AREQUIPA - AEROPUERTO</option
                    >
                    <option value="CHICLAYO">CHICLAYO</option>
                    <option value="CUSCO">CUSCO</option>
                    <option value="CUSCO - AEROPUERTO"
                        >CUSCO - AEROPUERTO</option
                    >
                    <option value="JULIACA">JULIACA</option>
                    <option value="LIMA">LIMA</option>
                    <option value="PIURA">PIURA</option>
                    <option value="PUNO">PUNO</option>
                    <option value="TACNA">TACNA</option>
                    <option value="VALLE SAGRADO">VALLE SAGRADO</option>
                </select>
            </div>
            <div class="flex mt-3">
                <div class="flex flex-col w-full">
                    <label class="font-semibold mb-2">Tipo de auto</label>
                    <select
                        class="form-select input-home"
                        name="inpAuto"
                        required
                    >
                        <option value="Todos">- Todos -</option>
                        <option value="1">Economico</option>
                        <option value="2">Compacto</option>
                        <option value="3">Intermedio</option>
                        <option value="4">Mini Van</option>
                        <option value="5">Standard</option>
                        <option value="6">Full Size</option>
                        <option value="7">Premium</option>
                        <option value="8">Luxury</option>
                        <option value="9">Especial</option>
                        <option value="10">Van</option>
                    </select>
                </div>
                <div class="flex flex-col w-full">
                    <label class="font-semibold mb-2">Cantidad de días</label>
                    <input
                        type="text"
                        name="inpCantidadD"
                        id="inpCantidadD"
                        class="form-input input-home"
                        readonly
                    />
                </div>
            </div>
            <div class="flex items-center mt-3">
                <div class="border border-gray-300 p-2">
                    <img src="/images/chofer.png" alt="chofer" class="w-5" />
                </div>
                <select class="form-select w-full input-home" name="inpChofer">
                    <option value="No">Sin Chofer</option>
                    <option value="Si">Con Chofer</option>
                    <option value="Bilingüe">Chofer Bilingüe</option>
                </select>
            </div>
            <div class="flex flex-row-reverse mt-3">
                <button
                    type="button"
                    name="btnContinuar"
                    class="bg-black px-4 py-3 text-white rounded-md"
                    id="btn-confirm-booking">Continuar</button
                >
            </div>
        </form>
    </div>
</div>
