<div id="formulario-container" class="text-center text-white max-w-lg m-auto mb-2.5 pb-2.5">
    <div class="borderdouble-yellow-400 p-5">
        <h2 class="font-bold uppercase">Formulario de contacto</h2>
        <form method="post" class="text-left leading-loose">
            <label for="nombres" class="font-bold">Nombres:</label>
            <input type="text" id="nombres" name="nombres" class="text-black w-full p-1 font-size: 14px"><br><br>
            <label for="apellidos" class="font-bold">Apellidos:</label>
            <input type="text" id="apellidos" name="apellidos" class="text-black w-full p-1 font-size: 14px"><br><br>
            <label for="direccion" class="font-bold">Dirección:</label>
            <input type="text" name="direccion" class="text-black w-full p-1 font-size: 14px"><br><br>
            <label for="mensaje" class="font-bold">Mensaje:</label><br>
            <textarea id="mensaje" name="mensaje" rows="4" cols="50" class="text-black w-full p-1 font-size: 14px"></textarea><br><br>
            <button type="submit" name="btnEnviarMensaje" class="bg-yellow-400 text-black font-bold py-4 px-12" class="border-yellow-400">Enviar</button>
        </form>
    </div>
</div>