<script>
    import { tns } from "tiny-slider"
    var slider = tns({
        container: ".slider-home",
        items: 1,
        slideBy: "page",
        autoplay: true,
        controls: false,
        nav: false,
        autoplayHoverPause: true,
        autoplayButtonOutput: false,
    });
</script>
<div class="w-full md:w-8/12">
    <div class="slider-home">
        <div>
            <img src="/images/sliders/1.webp" alt="Slider" class="w-full aspect-[1182/788]">
        </div>
        <div>
            <img src="/images/sliders/2.webp" alt="Slider" class="w-full aspect-[1182/788]">
        </div>
        <div>
            <img src="/images/sliders/3.webp" alt="Slider" class="w-full aspect-[1182/788]">
        </div>
        <div>
            <img src="/images/sliders/4.webp" alt="Slider" class="w-full aspect-[1182/788]">
        </div>
        <div>
            <img src="/images/sliders/5.webp" alt="Slider" class="w-full aspect-[1182/788]">
        </div>
    </div>
</div>