---
interface Props {
    title: string;
    data: string;
}

const { title, data } = Astro.props;
---

<div class="w-full">
    <div class="flex items-center p-1">
        <h4 class="font-semibold text-sm">{title}</h4>: <p class="ml-2" id={`${data}`}>
        </p>
    </div>
</div>
