<!DOCTYPE html>
<html lang="es">
<head >
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tarjetas de Desempeño</title>
</head>
<body class="bg-stone-300">
<!-- ESTA ES LA CABECERA -->
  <div class="container text-center border-2 border-blue-700 font-sans font-bold rounded-3xl mt-10 mx-auto">
    <h1>CARDS DE DESEMPEÑO</h1>
  </div>
<!-- HASTA AQUI VA LA CABECERA CABECERA -->

<!-- CADA DIV ES UNA CARD -->
<div class="grid grid-cols-3 gap-4 place-content-stretch h-48 p-10 px-20">
  <div class="container border-2 border-blue-700 font-sans rounded-3xl overflow-hidden bg-blue-200">
    <div class="h-48 w-full">
        <img class="w-full h-full objet-cover object-contain object-top" src="/images/Cards/boton1.webp" alt="boton1.webp">
    </div>
      <div class="p-5">
          <h2 class="text-center">ASTON MARTIN 1956</h2>
          <p class="text-justify truncate">Aston Martin comenzó a trabajar en el DB4 en 1956, al mismo tiempo que en el DB Mark III. Desde su creación el DB4 fue la base para los futuros clásicos de la marca, como el DB4 GT Zagato y el Lagonda Rapide.
          El cuerpo del DB4 fue diseñado por Carrozzeria Touring de Milán, usando su método de construcción "Superleggera", en el que los paneles de aluminio se fijan a un bastidor tubular construido sobre un chasis sustancial.
          Su motor era de 3,7 litros, diseñado por Tadek Marek, de seis cilindros de doble árbol de levas recto-6, con culata y aleación de aluminio RR50. Todos los motores de este tipo, estuvieron en el mercado por primera vez en 1956 y han competido con el DBR2 desde 1957.</p>
          <button>ver más</button>
      </div>    
  </div>
<!-- HASTA ESTE DIV ES EL FIN DE UNA CARD -->
 
  <div class="container text-center border-2 border-blue-700 font-sans">
  <img src="/images/Cards/boton2.webp" alt="Imagen 2">
  <h2>Aston Martin DB4 GT Zagato</h2>
  <p>El siguiente paso en la evolución del DB4 fue el DB4 GT Zagato, presentado en el salón de Londres de 1960 fue el último esfuerzo de Aston Martin en vencer a los bólidos italianos. Más ligero y potente que el GT se construyó con la idea de ser un coche de calle con el que se pudiese competir sin problemas. El resultado obtenido fue uno de los más recordados deportivos de su época.</p>
  <button>Botón 2</button>
  </div>

<div class="container text-center border-2 border-blue-700 font-sans">
  <img src="/images/Cards/boton3.webp" alt="Imagen 3">
  <h2>Título de la Tarjeta 3</h2>
  <p>Descripción de la Tarjeta 3</p>
  <button>Botón 3</button>
</div>

<div class="container text-center border-2 border-blue-700 font-sans">
  <img src="/images/Cards/boton4.webp" alt="Imagen 4">
  <h2>Título de la Tarjeta 4</h2>
  <p>Descripción de la Tarjeta 4</p>
  <button>Botón 4</button>
</div>

<div class="container text-center border-2 border-blue-700 font-sans">
  <img src="/images/Cards/boton5.webp" alt="Imagen 5">
  <h2>Título de la Tarjeta 5</h2>
  <p>Descripción de la Tarjeta 5</p>
  <button>Botón 5</button>
</div>

<div class="container text-center border-2 border-blue-700 font-sans">
  <img src="/images/Cards/boton6.webp" alt="Imagen 6">
  <h2>Título de la Tarjeta 6</h2>
  <p>Descripción de la Tarjeta 6</p>
  <button>Botón 6</button>
</div>
</div>