---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/web/Navbar.astro";
import Footer from "../components/web/Footer.astro";
import HeaderTitle from "../components/general/HeaderTitle.astro";
import FormMessage from "../components/web/FormMessage.astro";
import vehicles from "../data/vehicles.json";
import SliderVehicle from "../components/general/SliderVehicle.astro";
---

<script type="module">
    import { tns } from "./node_modules/tiny-slider/src/tiny-slider"
    var slider = tns({
        container: ".my-slider",
        items: 1,
        slideBy: "page",
        autoplay: true,
        gutter: 20,
        controls: false,
        nav: false,
        autoplayHoverPause: true,
        autoplayButtonOutput: false,
        responsive: {
            640: {
                items: 3
            },
            900: {
                items: 4
            }
        }
    });
</script>

<Layout title="Itinerario">
    <Navbar />
    <section class="bg-white py-20 bg-section">
        <div class="container mx-auto">
            <HeaderTitle title="Nuestros" subtitle="Vehículos" />
            <div class="mt-20">
                <ul class="my-slider">
                    {
                        vehicles.map((vehicle) => (
                            <SliderVehicle
                                name={`${vehicle.name}`}
                                price={`${vehicle.precio}`}
                                image={`${vehicle.imagen}`}
                                detail={`${vehicle.detalles}`}
                            />
                        ))
                    }
                </ul>
            </div>
        </div>
    </section>
    <FormMessage />
    <Footer />
</Layout>
