---
import Footer from "../components/web/Footer.astro";
import FormMessage from "../components/web/FormMessage.astro";
import Navbar from "../components/web/Navbar.astro";
import "../styles/Layout.css";
import "../styles/tiny-slider.css";
import '@fontsource-variable/montserrat';
// import { ClientRouter } from 'astro:transitions';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- <link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css"
		/> -->
		<meta name="viewport" content="width=device-width" />
		<title>EUROPCAR - GyG Alquiler de Automoviles | {title}</title>
		<!-- <ClientRouter /> -->
	</head>
	<body class="bg-black">
		<Navbar />
		<main class="mx-auto">
			<slot />
		</main>
		<FormMessage />
		<Footer />
	</body>
</html>
